.carousel-image {
    background-size: cover;
    background-position: center;
    height: 100%; /* Ensure the carousel item covers the entire height of the container */
}

.carousel-caption {
    color: white; /* Set text color to white */
    position: absolute;
    top: 50%; /* Position the caption vertically in the middle */
    transform: translateY(-50%);
    width: 100%;
}

.carousel-caption h1,
.carousel-caption p {
    margin-bottom: 15px; /* Add margin between text elements */
}

.carousel-caption .btn {
    margin-top: 20px; /* Add margin above the button */
}