{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'compose_style.css' %}" />
    <title>Inbox</title>
</head>
<body>
    <a href="{% url 'profile' %}">
    <nav class="top-navbar">
        <div class="profile-icon">
            <i class="fas fa-user-circle"></i>
        </div>
    </nav>
    </a>
    <nav class="left-navbar">
        
    </nav>
    

    
        <div class="container">
  <h2>View Messages</h2>
             
  <table class="table table-condensed">
    <thead>
    </thead>
    <tbody>
      <tr>
	  <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"></td>
        <td>John</td>
        
		<td>Congratulations....</td>
		<td> 
		
             <button class="delete-btn" style='font-size:24px'><i class='far fa-trash-alt'></i></button></td>
      </tr>
      <tr>
	  <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"></td>
        <td>Mary</td>
        
        
		<td>Congratulations....</td>
		<td> 
             <button class="delete-btn" style='font-size:24px'><i class='far fa-trash-alt'></i></button></td></td>
      </tr>
      <tr>
	  <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"></td>
        <td>July</td>
        
        <td>Congratulations....</td>
		<td> 
             <button class="delete-btn" style='font-size:24px'><i class='far fa-trash-alt'></i></button></td></td>
      </tr>
    </tbody>
  </table>
</div> 

    <script src="scri
       
   pt.js"></script>

</body>
</html>
