{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
    <link rel="stylesheet" href="{% static 'view_appointments.css' %}">
</head>
<body>
    <header>
        <h2 class="logo"></h2>
        <nav class="navigation">
            <a href="{% url 'profile' %}">Home</a>
            <!-- <button class="btnLogin-popup">Sign in</button> -->
        </nav>
    </header>
    <div class="table-container">
        <h2>Appointment List</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Appointment 1</td>
                <td>2022-01-01 10:00 AM</td>
                <td>2022-01-01 11:00 AM</td>
                <td>Office</td>
                <td>Discuss project</td>
                <td>
                    <button class="delete-btn" onclick="deleteAppointment(1)">Delete</button>
                    <button class="delete-btn">Update</button>

                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <script>
        function deleteAppointment(appointmentId) {
            console.log(`Deleting appointment with ID: ${appointmentId}`);
        }
    </script>
</body>
</html>