body {
    margin: 0;
    padding: 0;
    font-family: 'Calvin-Bold', sans-serif;
    background-color: #e8f5ff;
}
h1{
    margin-left: 35px;
    color: #11235A;
}
.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e8f5ff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.profile-icon {
    color: #11235A;
    margin-right: 20px;
    font-size: 24px;
}

.left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #11235A;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-items: left;
    padding-top: 60px;
}

.left-navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.left-navbar hover{
    background-color:  #1E3D73;
    color: #fff;
    
}

.content {
    margin-left: 220px;
    padding: 20px;
}
.left-navbar i {
    margin-right: 10px; /* Adjust the margin-right value as needed */
}
a:hover {
    background-color: #CCCCCC;
    color: #11235A; 
}