body {
    margin: 0;
    padding: 0;
    font-family: 'Calvin-Bold', sans-serif;
    background-color: #e8f5ff;
}
h1{
    margin-left: 35px;
    color: #11235A;
}
.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e8f5ff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.profile-icon {
    color: #11235A;
    margin-right: 20px;
    font-size: 24px;
}

.left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #11235A;
    display: flex;
    flex-direction: column;
    padding-left: 600px;
    align-items: left;
    padding-top: 200px;
	
}

.left-navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.left-navbar hover{
    background-color:  #1E3D73;
    color: #fff;
    
}

.content {
    margin-left: 750px;
    padding: 50px;
}
.left-navbar i {
    margin-right: 10px; /* Adjust the margin-right value as needed */
}
.btn
{
	background-color: #11235A;
	color: white;
	
}
.placeholder {

	color: 969696;
	background-color: #ffffff;
	font-size:16px;
	size:50;
}
::placeholder {
  color: 969696;;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color:969696;
}
input[type="text"], textarea {

  background-color: #ffffff  ; 

}
input[type=text],input[type=email],input[type=password] ,input[type=submit] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}
input[type=email]:focus {
  border: 3px solid #555;
}
input[type=password]:focus {
  border: 3px solid #555;
}
button{
	
  background-color: #11235A;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button] {
	background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
