{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <a href="{% url 'shop:product_list' 'all' %}">
                                
                            <li class="{% if selected_category == 'all' %} active {% endif %}">                                 
                                    All
                            </li>
                        </a>
                        {% for cat in category_objects %}
                            <a href="{% url 'shop:product_list' cat.cid %}">
                                
                                <li class="{% if cat.cid == selected_category  %} active {% endif %}">                                 
                                        {{cat.title}} ( {{cat.product.count}} )
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            {% for product in product_objects %}
            <div class="col-lg-4 col-md-6 text-center strawberry">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'shop:product_detail' product.pid %}"><img src="{{ product.image.url }}" alt=""></a>
                    </div>
                    <h3>{{product.title}}</h3>
                    <p class="product-price"><span>{{ product.vendor }}</span> {{product.price}} </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}