{% extends 'layout/base.html' %}

{% load static %}

{% block content %}




<!-- breadcrumb-section -->
<!-- <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Single Product</h1>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
               

                <div class="single-product-img position-relative">
                    <div id="productCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ product_object.image.url }}" class="d-block w-100" alt="">
                            </div>
                            {% for primage in prImages %}
                            <div class="carousel-item">
                                <img src="{{ primage.images.url }}" class="d-block w-100" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-icon" aria-hidden="true">&lt;</span>
                    </a>
                    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                        <span class="carousel-control-icon" aria-hidden="true">&gt;</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{product_object.title}}</h3>
                    <p class="single-product-pricing">
             
                        {{product_object.price}}</p>
                    <p>{{product_object.description|safe}} product description...</p>
                    <div class="single-product-form">
                        
                            <input type="number" value="0" placeholder="0" id="product-quantity"><br>
                            <input type="hidden" value="{{product_object.id}}" class="product-id">
                            <input type="hidden" value="{{product_object.title}}" class="product-title">
                            <input type="hidden" value="{{product_object.price}}" class="product-price">
                            <input type="hidden" value="{{product_object.image.url}}" class="product-image">

                            <button type="submit" class="cart-btn" id="add-to-cart"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart" id="heartIcon" onclick="toggleWishlist()">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                              </svg>
                        <!-- </form> -->
                        <!-- <a href="cart.html" class="cart-btn"> <i class="fas fa-shopping-cart"></i>Add to Cart</a> -->

                        <!-- <button id="wishlistButton" onclick="toggleWishlist()"> -->
                            
                          <!-- </button> -->

                        <p><strong>Categories: </strong>{{product_object.category}}</p>
                        <p><strong>Tags: </strong>{% for tag in product_object.tags.all %}<a href="{% url 'shop:tag_list' tag.slug %}">#{{tag.name}} </a>{% endfor %}</p>
                    </div>
                    <h4>Share:</h4>
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="options">
              <button class="option" onclick="showContent('info')">Info</button>
              <button class="option" onclick="showContent('seller')">Seller</button>
              <button class="option" onclick="showContent('reviews')">Reviews</button>
            </div>
            <div class="content" id="infoContent">
             
              {{product_object.specs|safe}}
              
            </div>
            <div class="content" id="sellerContent" style="display: none;">
       
              {{product_object.vendor}}<br>
              {{product_object.vendor.address}}
            </div>
            <div class="content" id="reviewsContent" style="display: none;">
            

              <div class="review-summary">
                
                <div class="average-rating">
                    <span id="avgrate">{{ avg_rating.rating|floatformat:1 }} out of 5.0</span>
                </div>
                
                    
            </div>


            <div class="review-section">
                {% for review in reviews %}
            
                <div class="review" id="{{ review.rid }}" review-user="sds">
                    <div class="review-header">
                        <div class="user-icon">
                            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="User Icon">
                        </div>
                        <div class="review-info">
            
                            <div class="review-date"><strong>{{review.user.username}}</strong> {{ review.date|date:"d M, Y" }}
                                {% if review.rating %}
                                {% for star in review.rating|ljust:review.rating %}
                                <i class="fas fa-star text-warning"></i>
                                {% endfor %}
                                {% endif %}
            
                            </div>
                            <div class="review-rating">
            
                            </div>
                        </div>
                    </div>
                    <div class="review-body">
                        {{ review.review }}
                        <div class="replies" id="replies-{{ review.rid }}" style="padding-left:20px ; padding-top: 10px;">
            
                        </div>
            
                    </div>
            
                    <button id='preply' class="reply-btn">Reply</button>
                    <div class="reply-form" style="display: none;">
                        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="text" class="reply-text" placeholder="Enter your reply">
                        <button reviewId="{{ review.rid }}" pid="{{review.product.pid}}" class="post-btn"
                            id="postreviewid">Post</button>
                    </div>
            
                </div>


                
                
                {% empty %}
                <p id="no-review">No reviews yet.</p>
                {% endfor %}
                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const reviewElements = document.querySelectorAll('.review');

                        reviewElements.forEach(reviewElement => {
                        
                        const reviewId = reviewElement.id
                
                        console.log(reviewId);
                        fetchReplies(reviewId);  
                    });
                });

                function fetchReplies(reviewId) {
                    fetch('reply_tree/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ reviewId:reviewId })
                    })
                    .then(response => response.json())
                    .then(data => {
                    if (data.error) {
                        console.error(`Error fetching replies for review ID ${reviewId}: ${data.error}`);
                    } else {
                        console.log(data.data)
                        const repliesContainer = document.getElementById(`replies-${reviewId}`);
                        const replies = data.data;
                        renderReplies(replies, repliesContainer);
                    }
                })
                    .catch(error => {
                        console.error(`Error fetching replies for review ID ${reviewId}:`, error);
                    });
                }
                

                function renderReplies(replies, container) {
                    replies.forEach(reply => {

                        const replyElement = document.createElement('div');

                        replyElement.classList.add('reply');

                        const replyText = document.createElement('p');
                        replyText.innerHTML = `
                            <span style="color:#3cb371; padding-right: 7px;">@${reply.parent_user}</span>
                            <strong>${reply.user}:</strong> ${reply.review}
                        `;
                        replyElement.appendChild(replyText);

                        const replyButton = document.createElement('button');
                        replyButton.classList.add('reply-btn');
                        // replyButton.dataset.replyId = reply.id;
                        replyButton.textContent = '<<';

                        replyText.appendChild(replyButton);

                        const replyForm = document.createElement('div');
                        replyForm.classList.add('reply-form');
                        replyForm.style.display = 'none';

                        const csrfInput = document.createElement('input');
                        csrfInput.type = 'hidden';
                        csrfInput.name = 'csrfmiddlewaretoken';
                        csrfInput.value = '{{ csrf_token }}';  
                        replyForm.appendChild(csrfInput);

                        const replyInput = document.createElement('input');
                        replyInput.type = 'text';
                        replyInput.classList.add('reply-text');
                        replyInput.placeholder = 'Enter your reply';
                        replyForm.appendChild(replyInput);

                        const postButton = document.createElement('button');
                        postButton.classList.add('post-btn');
                        postButton.dataset.reviewId = reply.id;
                        postButton.dataset.productId = reply.product_id;
                        postButton.textContent = 'Post';

                        replyForm.appendChild(postButton);                                                                                                      

                        replyButton.addEventListener('click', function(event) {
                                
                            event.preventDefault(); 

                            const replyForm = event.target.nextElementSibling;
                            replyForm.style.display = replyForm.style.display === 'none' ? 'block' : 'none';               
                                            
                                            
                        });


    
                        

                        replyText.appendChild(replyForm);
                     
                        container.appendChild(replyElement);
                        // const postButtons = document.querySelectorAll('.post-btn');
                        const csrftoken = document.getElementById('csrf_token').value;
                        postButton.addEventListener('click',function(){
                            const reviewId = postButton.getAttribute('data-review-id');
                           
                            const replyText = postButton.parentElement.querySelector('.reply-text').value;
                            
                            // console.log(reviewId, productId, replyText);
                            fetch('reply/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': csrftoken
                                },
                                body: JSON.stringify({ reviewId: reviewId, replyText: replyText})
                            })
                            .then(response => {
                                console.log(response);
                                if (response.ok) {
                                    console.log('Reply submitted successfully!');
                                } else {
                                    console.error('Failed to submit reply.');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                            
                        })
                            
                   
                    });
                }                                                                                                                                                  

                </script>



                <strong id="review-response" class="text-success"></strong>


                {% if user.is_authenticated %}
                
                <div class="rev-form">
                     
                <form action="{% url 'shop:ajax_add_review' product_object.id %}" method="post" id="reviewForm" style="padding: 20px; ">
                    {% csrf_token %}
                    <h3>Post a Review</h3>
                    {{ review_form.as_p}}
                    <input type="submit" value="Post Review">
                </form>
                </div>
                {% else %}
                <p>Please login to post a review</p>
                {% endif %}
                
            </div>
            </div>
          </div>
    </div>
</div>

<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        {% if rProducts %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Related</span> Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% for rproduct in rProducts %}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'shop:product_detail' rproduct.pid %}"><img src="{{rproduct.image.url}}" alt=""></a>
                    </div>
                    <h3>{{rproduct.title}}</h3>
                    <p class="product-price"><span>Per Kg</span> 85$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- end more products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


